In [1]:
from SOW_function import *

# datapath = "/mnt/batch/tasks/shared/LS_root/mounts/clusters/ba-p-zeaus-246834-nc6jan/code/Users/246834/NPS_Share_Of_Wallet_clean/data" 
# outpath = "/mnt/batch/tasks/shared/LS_root/mounts/clusters/ba-p-zeaus-246834-nc6jan/code/Users/246834/NPS_Share_Of_Wallet_clean/output"

print(datapath)

pd.set_option('display.max_colwidth', None)

filedate = datetime.now(pytz.timezone('US/Central')).strftime("%Y-%m-%d").replace("-", "_")
datetime.now(pytz.timezone('US/Central')).strftime("%Y-%m-%d %H:%M:%S") # Central time

distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.
distutils Version classes are deprecated. Use packaging.version instead.

Imported successfully!
/mnt/batch/tasks/shared/LS_root/mounts/clusters/ba-p-zeaus-246834-nc6jan/code/Users/246834/NPS_Share_Of_Wallet/data

'2025-03-15 01:00:04'

In [2]:
df_raw3 = data_pull('2023-01-01','2023-06-30', 'MOSSASWRKFORCE10', 'MOSwrkforce02') # We can import 6 months of data and then subset for June23 only. Or, we can extract June23 data here
print(df_raw3.shape)
df_raw3.head()

Using functional account MOSSASWRKFORCE10 to pull the data from MOSAIC
Pulling Data...
Executing:

    WITH RankedRecords AS (
        SELECT
            A.SURVEY_PARTY_ID AS PARTY_ID,
            A.SEG_DEP_DT,
            A.NPS_CATEGORY,
            A.JOURNEY_DELAY_CAT,
            A.JOURNEY_DELAY_MINS,
            A.DISRUPTION_IND,
            A.TRANSACTOR_STAGE,
            A.AADV_TENURE,
            CASE
                WHEN A.TRANSACTOR_STAGE = '2' THEN '2 AADV'
                WHEN A.TRANSACTOR_STAGE = '1' THEN '1 No membership'
                WHEN A.TRANSACTOR_STAGE = '3' THEN '3 AADV+Card'
                ELSE A.TRANSACTOR_STAGE
            END AS TRANSACTOR_STAGE2,
            A.GENERATION,


            B.CUSTOMER_GROUP_CD,
            B.MATCH_IND,
            B.AA_FLT_REV_IND,
            B.EP_OA_SPEND_IND,
            B.EP_NATIONAL_AIRLN_SPEND_IND,
            B.EP_BUDGET_AIRLINES_SPEND_IND,
            B.EP_FOREIGN_OTHER_AIRLN_SPEND_IND,
            B.AA_FLT_REV,
            B.EP_OA_SPEND,
            B.EP_NATIONAL_AIRLN_SPEND,
            B.EP_BUDGET_AIRLN_SPEND,
            B.EP_FOREIGN_OTHER_AIRLN_SPEND,
            B.EST_AIRLN_SPEND,
            B.EST_AA_SOW_PERCENT,
            B.EP_NATIONAL_AIRLN_MERCH,
            B.EP_BUDGET_AIRLN_MERCH,
            B.EP_FOREIGN_OTHER_AIRLN_MERCH,
            B.EST_AIRLN_SPEND_BAND,
            B.EST_AA_SOW_PERCENT_BAND,
            B.EST_AIRLN_SPEND_TIER,
            B.EST_AA_SOW_PERCENT_TIER,

            E.AA_FLT_REV AS AA_FLT_REV_1stYr,
            E.EST_AIRLN_SPEND AS EST_AIRLN_SPEND_1stYr,


            ZEROIFNULL(D.TICKET_REV_NON_AWD) + ZEROIFNULL(D.TOTAL_ANCILLARY_REV) AS AA_FLT_REV_Y2,
            D.FLIGHT_ICC AS FLIGHT_ICC_Y2,
            D.TICKET_REV + D.TOTAL_ANCILLARY_REV AS FLIGHT_REVENUE_Y2,
            D.CURRENCY_ICC AS CURRENCY_NET_REVENUE_Y2,
            (D.TICKET_REV + D.TOTAL_ANCILLARY_REV + D.CURRENCY_ICC) AS TOTAL_REVENUE_Y2,

            ZEROIFNULL(C.TICKET_REV_NON_AWD) + ZEROIFNULL(C.TOTAL_ANCILLARY_REV) AS AA_FLT_REV_Y1,
            C.CUST_TRANSACTOR_TYPE AS CUST_TRANSACTOR_TYPE_ICC,
            C.AP_IND,
            C.TIER_EOP,
            C.no_of_trips,
            C.CUST_CHANNEL_TYPE,
            C.CUST_AADV_TENURE,
            C.TOTAL_ICC,
            C.FLIGHT_ICC AS FLIGHT_ICC_Y1,
            C.CURRENCY_ICC,
            C.TICKET_REV + C.TOTAL_ANCILLARY_REV AS FLIGHT_REVENUE_Y1,
            C.CURRENCY_ICC AS CURRENCY_NET_REVENUE_Y1,
            (C.TICKET_REV + C.TOTAL_ANCILLARY_REV + C.CURRENCY_ICC) AS TOTAL_REVENUE_Y1,

            COALESCE(C.RPM, 0) AS RPM,
            (COALESCE(C.TICKET_REV, 0) + COALESCE(C.TOTAL_ANCILLARY_REV, 0) - COALESCE(C.DISPLACEMENT, 0)) AS flight_rev_displacement,
            CASE
                WHEN C.HOME_AIRPORT IN ('DFW','DAL','MIA','FLL','PBI','PHL','AZA','PHX','CLT') THEN '1 - PRIMARY HUBS'
                WHEN C.HOME_AIRPORT IN ('EWR','ISP','JFK','LGA','SWF','BUR','LAX','LGB','SNA','MDW','ORD','BWI','DCA','IAD','BOS','AUS') THEN '2 - SECONDARY HUBS + FOCUS CITIES'
                WHEN (C.HOME_AIRPORT NOT IN ('DFW','DAL','MIA','FLL','PBI','PHL','AZA','PHX','CLT','EWR','ISP','JFK','LGA','SWF','BUR','LAX','LGB','SNA','MDW','ORD','BWI','DCA','IAD','BOS','AUS') AND C.HOME_CNTRY = 'US') THEN '3 - DOMESTIC SPOKES'
                WHEN C.HOME_CNTRY <> 'US' AND C.HOME_CNTRY IS NOT NULL AND C.HOME_AIRPORT IS NOT NULL THEN '4 - INTERNATIONAL SPOKES'
                ELSE '5 - UNK'
            END AS HOME_CITY



            , CASE
                WHEN C.CUST_TRANSACTOR_TYPE = '2_FLT_EARN_ONLY' THEN 'Stage 2: Flight earning + No Currency earning (AADV)'
                WHEN C.CUST_TRANSACTOR_TYPE = '3_FLT_AND_CURR_EARN' THEN 'Stage 3: Flight & Currency earning (AADV)'
                WHEN C.CUST_TRANSACTOR_TYPE = '1_NON_AADV_FLYER' THEN 'Stage 1: Non-AADV'
                WHEN C.CUST_TRANSACTOR_TYPE = '4_CURR_EARN_ONLY_OR_NO_EARN' THEN 'Stage 4: Currency Earning Only + No Flight Earning (AADV)'
                ELSE 'U'
              END AS Customer_Stage

            --Tier
            , CASE
                    WHEN C.AP_IND = 'N' THEN 'Non-AAdvantage'
                    WHEN C.TIER_EOP = '1_C' THEN '1 Concierge Key'
                    WHEN C.TIER_EOP = '2_E' THEN '2 Executive Platinum'
                    WHEN C.TIER_EOP = '3_T' THEN '3 Platinum Pro'
                    WHEN C.TIER_EOP = '4_P' THEN '4 Platinum'
                    WHEN C.TIER_EOP = '5_G' THEN '5 Gold'
                    WHEN C.TIER_EOP = '6_R' THEN '6 Regular'
                END AS Tier

            -- Age Bands
            , CASE
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 1928 AND 1945 THEN '1_Silent_Generation'
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 1946 AND 1964 THEN '2_Baby_Boomers'
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 1965 AND 1980 THEN '3_Gen_X'
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 1981 AND 1996 THEN '4_Millennials'
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 1997 AND 2012 THEN '5_Gen_Z'
                    WHEN Y.BIRTH_YEAR_NBR BETWEEN 2013 AND 2025 THEN '6_Alpha'
                    ELSE '7_Age_band_Not_Available'
                END AS Age_Band


            --trip intent
            , C.CUST_TRVL_TYPE as Trip_Intent
            --frequency preferred over tier
            , CASE
                    WHEN C.rpm = 0 THEN 'Non-Flyers'
                    WHEN C.no_of_trips =  1 THEN '1 Trip'
                    WHEN C.no_of_trips =  2 THEN '2 Trips'
                    WHEN C.no_of_trips =  3 THEN '3 Trips'
                    WHEN C.no_of_trips >= 4 THEN '4+ Trips'
                    ELSE 'Error'
                END AS Travel_Frequency




            ,ROW_NUMBER() OVER (PARTITION BY A.SURVEY_PARTY_ID ORDER BY A.SEG_DEP_DT DESC) AS RowNum


        FROM
            DTLAB_DIGITAL_SANDBOX.NPS_DASHBOARD                     A
        LEFT JOIN
            CIADM_CMPN_LAB.EPSILON_SOW_DETAILED_TBL                 B ON A.SURVEY_PARTY_ID = B.PARTY_ID
        LEFT JOIN
            CIADM_CMPN_LAB.EPSILON_SOW_DETAILED_TBL_YE_06_23        E ON A.SURVEY_PARTY_ID = E.PARTY_ID
        LEFT JOIN
            RM_CUST_INTELLIGENCE.CIAP_CUST_VIEW_2023_YE06_V05_00    C ON A.SURVEY_PARTY_ID = C.PARTY_ID
        LEFT JOIN
            RM_CUST_INTELLIGENCE.CIAP_CUST_VIEW_2024_YE06_V05_00    D ON A.SURVEY_PARTY_ID = D.PARTY_ID

        LEFT JOIN
            PROD_LYLTY_METRICS_VW.INDVDL                            Y ON A.SURVEY_PARTY_ID = Y.PARTY_ID


        WHERE
            A.SEG_DEP_DT >= '2023-01-01' AND A.SEG_DEP_DT <= '2023-06-30'
    )
    SELECT *
    FROM RankedRecords
    WHERE RowNum = 1;

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

The number of entries pulled is 1274802


Data pulled in 276 seconds
(1274802, 60)

,PARTY_ID,SEG_DEP_DT,NPS_CATEGORY,JOURNEY_DELAY_CAT,JOURNEY_DELAY_MINS,DISRUPTION_IND,TRANSACTOR_STAGE,AADV_TENURE,TRANSACTOR_STAGE2,GENERATION,CUSTOMER_GROUP_CD,MATCH_IND,AA_FLT_REV_IND,EP_OA_SPEND_IND,EP_NATIONAL_AIRLN_SPEND_IND,EP_BUDGET_AIRLINES_SPEND_IND,EP_FOREIGN_OTHER_AIRLN_SPEND_IND,AA_FLT_REV,EP_OA_SPEND,EP_NATIONAL_AIRLN_SPEND,EP_BUDGET_AIRLN_SPEND,EP_FOREIGN_OTHER_AIRLN_SPEND,EST_AIRLN_SPEND,EST_AA_SOW_PERCENT,EP_NATIONAL_AIRLN_MERCH,EP_BUDGET_AIRLN_MERCH,EP_FOREIGN_OTHER_AIRLN_MERCH,EST_AIRLN_SPEND_BAND,EST_AA_SOW_PERCENT_BAND,EST_AIRLN_SPEND_TIER,EST_AA_SOW_PERCENT_TIER,AA_FLT_REV_1stYr,EST_AIRLN_SPEND_1stYr,AA_FLT_REV_Y2,FLIGHT_ICC_Y2,FLIGHT_REVENUE_Y2,CURRENCY_NET_REVENUE_Y2,TOTAL_REVENUE_Y2,AA_FLT_REV_Y1,CUST_TRANSACTOR_TYPE_ICC,AP_IND,TIER_EOP,NO_OF_TRIPS,CUST_CHANNEL_TYPE,CUST_AADV_TENURE,TOTAL_ICC,FLIGHT_ICC_Y1,CURRENCY_ICC,FLIGHT_REVENUE_Y1,CURRENCY_NET_REVENUE_Y1,TOTAL_REVENUE_Y1,RPM,flight_rev_displacement,HOME_CITY,Customer_Stage,Tier,Age_Band,Trip_Intent,Travel_Frequency,RowNum
0,6933584.0,2023-02-10,Detractor,SHORT,15-30 DELAY,DISRUPTED,3,5 21+,3 AADV+Card,BABY_BOOMERS,1_AADV,1_Y,1_Y,1_Y,1_Y,2_N,2_N,174.00,830.0,830.0,0.0,0.0,1004.00,17.0,2.0,0.0,0.0,2_1001-2000,2_11-20,2_MEDIUM,1_LOW,0.00,5408.75,174.00,192.256548,475.762141,93.04728,568.809421,0.00,4_CURR_EARN_ONLY_OR_NO_EARN,Y,6_R,1.0,1_DIRECT_ONLY,36.0,277.130669,67.846109,209.28456,93.904254,209.28456,303.188814,2201.0,73.892544,3 - DOMESTIC SPOKES,Stage 4: Currency Earning Only + No Flight Earning (AADV),6 Regular,2_Baby_Boomers,3_DISCR_ONLY,1 Trip,1
1,8287884.0,2023-04-25,Promoter,ON TIME,A14,NOT DISRUPTED,2,3 6-10,2 AADV,GEN_X,1_AADV,2_N,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN,NaN,6430.72,4208.494532,6509.824950,0.53000,6510.354950,3440.35,2_FLT_EARN_ONLY,Y,5_G,7.0,3_DISCOUNT_ONLY,10.0,1147.428858,1012.178858,0.00000,3440.350000,0.00000,3440.350000,12194.0,3009.229770,3 - DOMESTIC SPOKES,Stage 2: Flight earning + No Currency earning (AADV),5 Gold,3_Gen_X,2_NON_DISCR_ONLY,4+ Trips,1
2,2051284.0,2023-04-17,Promoter,SHORT,15-30 DELAY,DISRUPTED,2,3 6-10,2 AADV,MILLENNIALS,1_AADV,2_N,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN,NaN,0.00,0.000000,0.000000,0.00000,0.000000,426.05,2_FLT_EARN_ONLY,Y,6_R,1.0,1_DIRECT_ONLY,10.0,451.707888,133.567888,0.00000,426.050000,0.00000,426.050000,4534.0,325.026548,3 - DOMESTIC SPOKES,Stage 2: Flight earning + No Currency earning (AADV),6 Regular,4_Millennials,3_DISCR_ONLY,1 Trip,1
3,758184.0,2023-06-08,Detractor,MID,60-75 DELAY,DISRUPTED,2,3 6-10,2 AADV,MILLENNIALS,1_AADV,1_Y,1_Y,2_N,2_N,2_N,2_N,440.67,0.0,0.0,0.0,0.0,440.67,100.0,0.0,0.0,0.0,1_1-1000,10_91-100,1_LOW,3_HIGH,2471.42,2471.42,440.67,168.531351,440.670000,0.00000,440.670000,2471.42,2_FLT_EARN_ONLY,Y,6_R,5.0,4_MULTI_CHNL,10.0,1015.464539,1015.464539,0.00000,2471.420000,0.00000,2471.420000,11086.0,1913.379486,3 - DOMESTIC SPOKES,Stage 2: Flight earning + No Currency earning (AADV),6 Regular,4_Millennials,4_NON_DISCR_AND_DISCR_ONLY,4+ Trips,1
4,16605584.0,2023-02-20,Promoter,SHORT,45-60 DELAY,DISRUPTED,2,3 6-10,2 AADV,BABY_BOOMERS,1_AADV,2_N,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN,NaN,834.79,277.252232,834.790000,0.00000,834.790000,1105.06,2_FLT_EARN_ONLY,Y,6_R,2.0,1_DIRECT_ONLY,9.0,43.308817,21.927185,0.00000,1105.060000,0.00000,1105.060000,5528.0,891.531152,3 - DOMESTIC SPOKES,Stage 2: Flight earning + No Currency earning (AADV),6 Regular,2_Baby_Boomers,1_BLEND_ANY,2 Trips,1

In [3]:
# Some data management steps

df_raw3['SOW_match'] = df_raw3['AA_FLT_REV'].notna().astype(int) # old indicator with SOW non-missing
dt1 = df_raw3.copy()

# calculate the SOW percentage = AA/all airline spend
dt1 = dt1.groupby('NPS_CATEGORY').apply(lambda x: x.assign(sum_AA=x['AA_FLT_REV'].sum(), sum_AA_OA=x['EST_AIRLN_SPEND'].sum(), Percent_AA_to_All= 100* x['AA_FLT_REV'].sum() / (x['EST_AIRLN_SPEND'].sum() if x['EST_AIRLN_SPEND'].sum() != 0 else 1e-10))).reset_index(drop=True).drop(columns=['sum_AA', 'sum_AA_OA'])

# AA_FLT_REV is highly skewed. Create log10 for checking distribution. Hard code 0 to 0
dt1['AA_FLT_REV_log'] = np.where(dt1['AA_FLT_REV'] == 0, 0, np.log10(dt1['AA_FLT_REV']))
dt1['EST_AIRLN_SPEND_log'] = np.log10(dt1['EST_AIRLN_SPEND'])


# categorize the continuous variables
def categorize_values(col):
    conditions = [col == 0,            # Condition for "0"
                  col > 0,             # Condition for ">0"
                  col.isna() ]         # Condition for "Missing"
    choices = ["0", ">0", "Missing"]  # Corresponding categories
    return np.select(conditions, choices, default="Checking")  # Default for values < 0

# Apply the function to both columns
dt1['AA_FLT_REV_Category'] = categorize_values(dt1['AA_FLT_REV'])
dt1['AA_FLT_REV_Y1_Category'] = categorize_values(dt1['AA_FLT_REV_1stYr'])

dt1['SEG_DEP_DT'] = pd.to_datetime(dt1['SEG_DEP_DT'])

# Create the cross table
pd.crosstab(dt1['AA_FLT_REV_Y1_Category'], dt1['AA_FLT_REV_Category'], 
                          margins=True, margins_name='Total')

divide by zero encountered in log10

AA_FLT_REV_Category         0      >0  Missing    Total
AA_FLT_REV_Y1_Category
0                        3245    3274     1560     8079
>0                      64034  251030    89029   404093
Missing                 17175   57293   788162   862630
Total                   84454  311597   878751  1274802

In [4]:
# Subset data

# SOW first year not missing
dt2 = dt1[dt1['AA_FLT_REV_1stYr'].notna()]
# limit CI total_ICC
dt2 = dt2[dt2['TOTAL_ICC'].notna()]

dt2 = dt2.groupby('NPS_CATEGORY').apply(lambda x: x.assign(sum_AA=x['AA_FLT_REV'].sum(), sum_AA_OA=x['EST_AIRLN_SPEND'].sum(), 
    Percent_AA_to_All= 100* x['AA_FLT_REV'].sum() / (x['EST_AIRLN_SPEND'].sum() if x['EST_AIRLN_SPEND'].sum() != 0 else 1e-10))).reset_index(drop=True).drop(columns=['sum_AA', 'sum_AA_OA'])
dt2 = dt2.groupby('NPS_CATEGORY').apply(lambda x: x.assign(sum_AA=x['AA_FLT_REV_1stYr'].sum(), sum_AA_OA=x['EST_AIRLN_SPEND_1stYr'].sum(), 
    Percent_AA_to_All_1stYr= 100* x['AA_FLT_REV_1stYr'].sum() / (x['EST_AIRLN_SPEND_1stYr'].sum() if x['EST_AIRLN_SPEND_1stYr'].sum() != 0 else 1e-10))).reset_index(drop=True).drop(columns=['sum_AA', 'sum_AA_OA'])

dt2 = dt2.groupby('NPS_CATEGORY').apply(lambda x: x.assign(sum_AA=x['AA_FLT_REV'].sum(), sum_AA_OA=x['EST_AIRLN_SPEND'].sum(), 
    Percent_AA_to_All= 100* x['AA_FLT_REV'].sum() / (x['EST_AIRLN_SPEND'].sum() if x['EST_AIRLN_SPEND'].sum() != 0 else 1e-10))).reset_index(drop=True).drop(columns=['sum_AA', 'sum_AA_OA'])
dt2 = dt2.groupby('NPS_CATEGORY').apply(lambda x: x.assign(sum_AA=x['AA_FLT_REV_1stYr'].sum(), sum_AA_OA=x['EST_AIRLN_SPEND_1stYr'].sum(), 
    Percent_AA_to_All_1stYr= 100* x['AA_FLT_REV_1stYr'].sum() / (x['EST_AIRLN_SPEND_1stYr'].sum() if x['EST_AIRLN_SPEND_1stYr'].sum() != 0 else 1e-10))).reset_index(drop=True).drop(columns=['sum_AA', 'sum_AA_OA'])



dt2['AA_Spend_0'] = (dt2['AA_FLT_REV'] == 0).astype(int)
dt2['FLIGHT_REVENUE_Y1_na'] = dt2['FLIGHT_REVENUE_Y1'] 
dt2['FLIGHT_REVENUE_Y2_na'] = dt2['FLIGHT_REVENUE_Y2'] 


print("=== Issue: Why 1st Yr AA Spending =0 ? SOW data issue? ")
pd.crosstab(dt2['AA_FLT_REV_Y1_Category'], dt2['AA_FLT_REV_Category'],  margins=True, margins_name='Total')

=== Issue: Why 1st Yr AA Spending =0 ? SOW data issue?

AA_FLT_REV_Category         0      >0  Missing   Total
AA_FLT_REV_Y1_Category
0                        3136    3132     1500    7768
>0                      64034  251030    89029  404093
Total                   67170  254162    90529  411861

In [5]:
# Replace missing values with 0

# IMPORTANT! If the customer is in the 1st year but not in the 2nd year, then consider as churned and set values to 0. 
columns_to_fill = ['AA_FLT_REV', 'EST_AIRLN_SPEND', 'EST_AA_SOW_PERCENT', 'EP_OA_SPEND', 'AA_FLT_REV_log', 'EST_AIRLN_SPEND_log', 
                   'AA_FLT_REV_Y1', 'AA_FLT_REV_Y2', # CI table
                   'FLIGHT_REVENUE_Y1', 'FLIGHT_REVENUE_Y2', 
                   'CURRENCY_NET_REVENUE_Y1', 'CURRENCY_NET_REVENUE_Y2' ]
dt2[columns_to_fill] = dt2[columns_to_fill].fillna(0)
dt2['AA_FLT_REV_Category2'] = categorize_values(dt2['AA_FLT_REV'])

dt2['Churned'] = np.where(dt2['AA_FLT_REV_Category2'] == '0', "Churned", "Not Churned")
dt2['Diff_1to2_YoY']= dt2['AA_FLT_REV'] - dt2['AA_FLT_REV_1stYr']
dt2['TTL_Diff_1to2_YoY']= dt2['EST_AIRLN_SPEND'] - dt2['EST_AIRLN_SPEND_1stYr']


#notenote: remove those 236 customers with missing Total_ICC

In [7]:
# Customize the outcomes that we want to keep in the tables

categorical = [  'AA_FLT_REV_Y1_Category'
                #,'AA_FLT_REV_Category'
                # ,'AA_FLT_REV_Category2'
                #,'SOW_match'
                #,'TRANSACTOR_STAGE' 
                #,'CUST_TRANSACTOR_TYPE_ICC'     
                #,'GENERATION'
                #,'Trip_Intent' 

                #,'AADV_TENURE' 
                #,'Customer_Stage'
                #,'Age_Band'
                #,'HOME_CITY'
                ]
continuous = [  'AA_FLT_REV_1stYr' 
              , 'AA_FLT_REV'
              , 'Diff_1to2_YoY'
              , 'Percent_AA_to_All'
              , 'EST_AIRLN_SPEND_1stYr'
              , 'EST_AIRLN_SPEND'

              , 'TTL_Diff_1to2_YoY'
              , 'Percent_AA_to_All_1stYr'
              # , 'TOTAL_ICC'
              # SOW 1st year
              #, 'AA_FLT_REV_log'

              #, 'TOTAL_REVENUE' 
              #, 'AA_FLT_REV_Y1', 'AA_FLT_REV_Y2' # CI table
              #, 'FLIGHT_REVENUE_Y1', 'FLIGHT_REVENUE_Y2'  # CI table
              #, 'FLIGHT_REVENUE_Y1_na', 'FLIGHT_REVENUE_Y2_na'  # CI table

              #, 'CURRENCY_NET_REVENUE_Y1', 'CURRENCY_NET_REVENUE_Y2' 

              #, 'flight_rev_displacement' 
              #, 'CURRENCY_NET_REVENUE' 
              #, 'TOTAL_ICC' 
              #, 'FLIGHT_ICC' 
              #, 'CURRENCY_ICC' 
              #, 'EP_OA_SPEND' 
              #, 'EP_NATIONAL_AIRLN_SPEND' 
              #, 'EP_BUDGET_AIRLN_SPEND' 
              #, 'EP_FOREIGN_OTHER_AIRLN_SPEND' 
              #, 'EST_AIRLN_SPEND' 
              #, 'EST_AIRLN_SPEND_log' 
             
              #, 'EST_AA_SOW_PERCENT'
              
            ]

In [8]:
# We can find that the NPS population with SOW and without SOW are distributed differently
t3 = TableOne(dt1, columns= ['TRANSACTOR_STAGE' 
                ,'CUST_TRANSACTOR_TYPE_ICC'     
                ,'GENERATION'
                ,'Trip_Intent', 'Tier']  , categorical=['TRANSACTOR_STAGE' 
                ,'CUST_TRANSACTOR_TYPE_ICC'     
                ,'GENERATION'
                ,'Trip_Intent', 'Tier'] ,
                groupby='SOW_match', pval=False, missing=True, overall=True) 
# t3

In [10]:
t3 = TableOne(dt1, columns= ['TRANSACTOR_STAGE' 
                ,'CUST_TRANSACTOR_TYPE_ICC'     
                ,'GENERATION'
                ,'Trip_Intent', 'Tier']  , categorical=['TRANSACTOR_STAGE' 
                ,'CUST_TRANSACTOR_TYPE_ICC'     
                ,'GENERATION'
                ,'Trip_Intent', 'Tier'] ,
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) 
#t3

In [11]:
# Raw data table

t2 = TableOne(dt2, columns= continuous + ['Churned'] + categorical, categorical= ['Churned'] + categorical, 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t2.tabulate(tablefmt="grid"))
# Notenote: use AA flight revenue from SOW directly for the percentage calculation.

+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |             | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=============+===========+=================+=================+=================+=================+
| n                                  |             |           | 411861          | 92917           | 69354           | 249590          |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |             | 0         | 2494.7 (4158.1) | 2384.1 (4029.6) | 2376.8 (3943.0) | 2568.7 (4260.6) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |             | 0         | 1928.4 (4203.3) | 1752.0 (4072.9) | 1816.6 (4001.0) | 2025.1 (4301.9) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |             | 0         | -566.3 (2825.2) | -632.1 (2758.7) | -560.2 (2626.3) | -543.6 (2901.6) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |             | 0         | 61.7 (2.6)      | 57.5 (0.0)      | 60.0 (0.0)      | 63.7 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |             | 0         | 3744.9 (5377.1) | 3774.0 (5329.5) | 3668.5 (5264.9) | 3755.2 (5425.2) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |             | 0         | 3122.6 (5226.1) | 3046.8 (5180.9) | 3027.1 (5088.1) | 3177.3 (5279.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |             | 0         | -622.3 (4609.3) | -727.2 (4632.9) | -641.5 (4607.9) | -577.9 (4600.3) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |             | 0         | 66.6 (2.3)      | 63.2 (0.0)      | 64.8 (0.0)      | 68.4 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned     | 0         | 157699 (38.3)   | 39865 (42.9)    | 27423 (39.5)    | 90411 (36.2)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned |           | 254162 (61.7)   | 53052 (57.1)    | 41931 (60.5)    | 159179 (63.8)   |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0           | 0         | 7768 (1.9)      | 1472 (1.6)      | 1265 (1.8)      | 5031 (2.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0          |           | 404093 (98.1)   | 91445 (98.4)    | 68089 (98.2)    | 244559 (98.0)   |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+

In [12]:
# this is the table that I used in the Excel files.
extract_tableone_results(t2)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              411861
AA Flight Revenue (1st year, average)   $2384.1  $2376.8  $2568.7
AA Flight Revenue (2nd year, average)   $1752.0  $1816.6  $2025.1
AA Rev YoY Change(average)              $-632.1  $-560.2  $-543.6
SOW percentage (2nd year)                57.5 %   60.0 %   63.7 %
TTL Airline Spend (1st year, average)   $3774.0  $3668.5  $3755.2
TTL Airline Spend (2nd year, average)   $3046.8  $3027.1  $3177.3
TTL Rev YoY change (average)            $-727.2  $-641.5  $-577.9
SOW percentage (1st year)                63.2 %   64.8 %   68.4 %
Churned rate (%)                         42.9 %   39.5 %   36.2 %

In [13]:
# print("The higher the transactor stage, ther higher the matching rate")
# TableOne(dt1, columns= ['SOW_match' ]  ,     groupby='TRANSACTOR_STAGE', pval=False, missing=True, overall=True)

In [14]:
# TableOne(dt1, columns= ['SOW_match' ]  ,     groupby='Customer_Stage', pval=False, missing=True, overall=True)

In [15]:
# TableOne(dt1, columns= ['SOW_match' ]  ,     groupby='GENERATION', pval=False, missing=True, overall=True)

In [16]:
# TableOne(dt1, columns= ['SOW_match' ]  ,     groupby='CUST_TRANSACTOR_TYPE_ICC', pval=False, missing=True, overall=True)

# ========= Balancing (6 months) ========

In [17]:
#dt2['Rev_Category'] = pd.qcut(dt2['TOTAL_REVENUE'], q=10, labels=False) + 1
dt2['ICC_band'] = pd.qcut(dt2['TOTAL_ICC'], q=10, labels=False) + 1

# Balance factors
dt2['stratify_key'] = dt2.apply(lambda row: f"{row['ICC_band']}_{row['Customer_Stage']}_{row['Age_Band']}_{row['Trip_Intent']}_{row['AADV_TENURE']}", axis=1)
dt3 = balancing(dt2, 88)

(71644, 76) Sampled Detractors Ratio: 77.11 %
(51664, 76) Sampled Passives Ratio: 74.49 %
(193740, 76) Sampled Promoters Ratio: 77.62 %

In [18]:
# recalculate the SOW percentage 
for col, new_col in [('AA_FLT_REV', 'Percent_AA_to_All'), ('AA_FLT_REV_1stYr', 'Percent_AA_to_All_1stYr')]:
    dt3 = dt3.groupby('NPS_CATEGORY').apply(
        lambda x: x.assign(**{
            new_col: 100 * x[col].sum() / max(x[col.replace('AA_FLT_REV', 'EST_AIRLN_SPEND')].sum(), 1e-10)
        }) ).reset_index(drop=True)

In [19]:
t7 = TableOne(dt3, columns= continuous + ['Churned'] + categorical , categorical=['Churned'] + categorical, 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t7.tabulate(tablefmt="grid"))

+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |             | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=============+===========+=================+=================+=================+=================+
| n                                  |             |           | 317048          | 71644           | 51664           | 193740          |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |             | 0         | 2530.6 (4253.9) | 2590.3 (4324.9) | 2510.1 (4148.4) | 2514.0 (4255.0) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |             | 0         | 1965.9 (4319.9) | 1939.3 (4356.4) | 1931.9 (4228.9) | 1984.8 (4330.3) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |             | 0         | -564.7 (2874.9) | -651.0 (2921.4) | -578.1 (2732.6) | -529.2 (2893.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |             | 0         | 62.2 (1.5)      | 59.7 (0.0)      | 61.5 (0.0)      | 63.3 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |             | 0         | 3775.0 (5435.3) | 3981.4 (5601.1) | 3776.0 (5314.6) | 3698.4 (5402.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |             | 0         | 3161.5 (5324.3) | 3248.6 (5445.3) | 3139.6 (5252.3) | 3135.1 (5297.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |             | 0         | -613.5 (4614.5) | -732.8 (4755.8) | -636.4 (4517.4) | -563.3 (4586.2) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |             | 0         | 67.1 (1.2)      | 65.1 (0.0)      | 66.5 (0.0)      | 68.0 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned     | 0         | 123095 (38.8)   | 29384 (41.0)    | 20300 (39.3)    | 73411 (37.9)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned |           | 193953 (61.2)   | 42260 (59.0)    | 31364 (60.7)    | 120329 (62.1)   |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0           | 0         | 5378 (1.7)      | 1136 (1.6)      | 795 (1.5)       | 3447 (1.8)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0          |           | 311670 (98.3)   | 70508 (98.4)    | 50869 (98.5)    | 190293 (98.2)   |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+

In [20]:
extract_tableone_results(t7)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              317048
AA Flight Revenue (1st year, average)   $2590.3  $2510.1  $2514.0
AA Flight Revenue (2nd year, average)   $1939.3  $1931.9  $1984.8
AA Rev YoY Change(average)              $-651.0  $-578.1  $-529.2
SOW percentage (2nd year)                59.7 %   61.5 %   63.3 %
TTL Airline Spend (1st year, average)   $3981.4  $3776.0  $3698.4
TTL Airline Spend (2nd year, average)   $3248.6  $3139.6  $3135.1
TTL Rev YoY change (average)            $-732.8  $-636.4  $-563.3
SOW percentage (1st year)                65.1 %   66.5 %   68.0 %
Churned rate (%)                         41.0 %   39.3 %   37.9 %

# ========= 3 months ========

In [21]:
# raw
dt2_3m = dt2[(dt2['SEG_DEP_DT'] >= '2023-04-01') & (dt2['SEG_DEP_DT'] <= '2023-06-30')]
dt2_3m['ICC_band'] = pd.qcut(dt2_3m['TOTAL_ICC'], q=10, labels=None) 

t2_3m = TableOne(dt2_3m, columns= continuous + ['Churned'] + categorical +['ICC_band'], categorical=['Churned'] + categorical+['ICC_band'], 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t2_3m.tabulate(tablefmt="grid"))

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |                      | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+======================+===========+=================+=================+=================+=================+
| n                                  |                      |           | 224766          | 53686           | 37432           | 133648          |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |                      | 0         | 2615.8 (4384.3) | 2457.0 (4189.6) | 2522.0 (4179.4) | 2705.8 (4512.6) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |                      | 0         | 2040.1 (4438.2) | 1819.0 (4257.6) | 1946.8 (4247.0) | 2155.0 (4556.1) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |                      | 0         | -575.7 (2938.4) | -638.0 (2840.1) | -575.3 (2726.3) | -550.8 (3032.7) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |                      | 0         | 61.6 (2.7)      | 57.5 (0.0)      | 60.0 (0.0)      | 63.7 (0.0)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |                      | 0         | 3837.3 (5495.6) | 3815.6 (5366.1) | 3794.3 (5426.2) | 3858.1 (5565.9) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |                      | 0         | 3220.7 (5419.9) | 3102.5 (5316.7) | 3128.0 (5275.7) | 3294.2 (5499.0) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |                      | 0         | -616.6 (4617.2) | -713.1 (4588.8) | -666.3 (4610.0) | -563.9 (4629.9) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |                      | 0         | 66.6 (2.3)      | 63.2 (0.0)      | 64.8 (0.0)      | 68.4 (0.0)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned              | 0         | 85218 (37.9)    | 23002 (42.8)    | 14466 (38.6)    | 47750 (35.7)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned          |           | 139548 (62.1)   | 30684 (57.2)    | 22966 (61.4)    | 85898 (64.3)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0                    | 0         | 4044 (1.8)      | 829 (1.5)       | 657 (1.8)       | 2558 (1.9)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0                   |           | 220722 (98.2)   | 52857 (98.5)    | 36775 (98.2)    | 131090 (98.1)   |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| ICC_band, n (%)                    | (-19301.809, 65.321] | 0         | 22477 (10.0)    | 6326 (11.8)     | 3808 (10.2)     | 12343 (9.2)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (65.321, 175.324]    |           | 22477 (10.0)    | 5956 (11.1)     | 3930 (10.5)     | 12591 (9.4)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (175.324, 291.29]    |           | 22476 (10.0)    | 5858 (10.9)     | 4035 (10.8)     | 12583 (9.4)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (291.29, 440.445]    |           | 22477 (10.0)    | 5826 (10.9)     | 3815 (10.2)     | 12836 (9.6)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (440.445, 642.989]   |           | 22476 (10.0)    | 5540 (10.3)     | 3884 (10.4)     | 13052 (9.8)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (642.989, 927.408]   |           | 22477 (10.0)    | 5192 (9.7)      | 3729 (10.0)     | 13556 (10.1)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (927.408, 1353.464]  |           | 22476 (10.0)    | 4969 (9.3)      | 3704 (9.9)      | 13803 (10.3)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (1353.464, 2101.742] |           | 22477 (10.0)    | 4727 (8.8)      | 3600 (9.6)      | 14150 (10.6)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (2101.742, 3810.872] |           | 22476 (10.0)    | 4647 (8.7)      | 3458 (9.2)      | 14371 (10.8)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (3810.872, 88498.13] |           | 22477 (10.0)    | 4645 (8.7)      | 3469 (9.3)      | 14363 (10.7)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+

In [22]:
extract_tableone_results(t2_3m)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              224766
AA Flight Revenue (1st year, average)   $2457.0  $2522.0  $2705.8
AA Flight Revenue (2nd year, average)   $1819.0  $1946.8  $2155.0
AA Rev YoY Change(average)              $-638.0  $-575.3  $-550.8
SOW percentage (2nd year)                57.5 %   60.0 %   63.7 %
TTL Airline Spend (1st year, average)   $3815.6  $3794.3  $3858.1
TTL Airline Spend (2nd year, average)   $3102.5  $3128.0  $3294.2
TTL Rev YoY change (average)            $-713.1  $-666.3  $-563.9
SOW percentage (1st year)                63.2 %   64.8 %   68.4 %
Churned rate (%)                         42.8 %   38.6 %   35.7 %

In [23]:
# Balance result

dt2_3m=dt2_3m.reset_index(drop=True)
dt3_3m = balancing(dt2_3m, 77) 
for col, new_col in [('AA_FLT_REV', 'Percent_AA_to_All'), ('AA_FLT_REV_1stYr', 'Percent_AA_to_All_1stYr')]:
    dt3_3m = dt3_3m.groupby('NPS_CATEGORY').apply(
        lambda x: x.assign(**{ new_col: 100 * x[col].sum() / max(x[col.replace('AA_FLT_REV', 'EST_AIRLN_SPEND')].sum(), 1e-10) })).reset_index(drop=True)
t3_3m = TableOne(dt3_3m, columns= continuous + ['Churned'] + categorical , categorical=['Churned'] + categorical, 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t3_3m.tabulate(tablefmt="grid"))
# (40434, 72) Sampled Detractors Ratio: 75.27 %
# (26734, 72) Sampled Passives Ratio: 71.38 %
# (101793, 72) Sampled Promoters Ratio: 76.1 %

(40152, 76) Sampled Detractors Ratio: 74.79 %
(26712, 76) Sampled Passives Ratio: 71.36 %
(101672, 76) Sampled Promoters Ratio: 76.07 %
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |             | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=============+===========+=================+=================+=================+=================+
| n                                  |             |           | 168536          | 40152           | 26712           | 101672          |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |             | 0         | 2649.0 (4490.0) | 2706.6 (4536.5) | 2657.4 (4406.0) | 2624.1 (4493.2) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |             | 0         | 2079.2 (4544.5) | 2043.9 (4571.2) | 2060.8 (4436.7) | 2097.9 (4561.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |             | 0         | -569.8 (2971.3) | -662.7 (3032.6) | -596.6 (2850.3) | -526.2 (2977.1) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |             | 0         | 63.7 (1.6)      | 60.9 (0.0)      | 63.4 (0.0)      | 64.8 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |             | 0         | 3870.1 (5573.4) | 4069.5 (5688.7) | 3928.1 (5551.1) | 3776.2 (5530.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |             | 0         | 3267.1 (5525.1) | 3355.3 (5620.4) | 3252.7 (5467.9) | 3236.0 (5501.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |             | 0         | -603.1 (4657.2) | -714.1 (4763.1) | -675.4 (4690.0) | -540.2 (4604.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |             | 0         | 68.5 (1.3)      | 66.5 (0.0)      | 67.7 (0.0)      | 69.5 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned     | 0         | 64717 (38.4)    | 16389 (40.8)    | 10212 (38.2)    | 38116 (37.5)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned |           | 103819 (61.6)   | 23763 (59.2)    | 16500 (61.8)    | 63556 (62.5)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0           | 0         | 2701 (1.6)      | 581 (1.4)       | 397 (1.5)       | 1723 (1.7)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0          |           | 165835 (98.4)   | 39571 (98.6)    | 26315 (98.5)    | 99949 (98.3)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+

Order variable not found: ICC_band

In [24]:
extract_tableone_results(t3_3m)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              168536
AA Flight Revenue (1st year, average)   $2706.6  $2657.4  $2624.1
AA Flight Revenue (2nd year, average)   $2043.9  $2060.8  $2097.9
AA Rev YoY Change(average)              $-662.7  $-596.6  $-526.2
SOW percentage (2nd year)                60.9 %   63.4 %   64.8 %
TTL Airline Spend (1st year, average)   $4069.5  $3928.1  $3776.2
TTL Airline Spend (2nd year, average)   $3355.3  $3252.7  $3236.0
TTL Rev YoY change (average)            $-714.1  $-675.4  $-540.2
SOW percentage (1st year)                66.5 %   67.7 %   69.5 %
Churned rate (%)                         40.8 %   38.2 %   37.5 %

# ========= 1 month (June 2023) ========

In [25]:

dt2_1m = dt2[(dt2['SEG_DEP_DT'] >= '2023-06-01') & (dt2['SEG_DEP_DT'] <= '2023-06-30')]
dt2_1m['ICC_band'] = pd.qcut(dt2_1m['TOTAL_ICC'], q=10, labels=None) 

t2_1m = TableOne(dt2_1m, columns= continuous + ['Churned'] + categorical +['ICC_band'], categorical=['Churned'] + categorical+['ICC_band'], 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t2_3m.tabulate(tablefmt="grid"))

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |                      | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+======================+===========+=================+=================+=================+=================+
| n                                  |                      |           | 224766          | 53686           | 37432           | 133648          |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |                      | 0         | 2615.8 (4384.3) | 2457.0 (4189.6) | 2522.0 (4179.4) | 2705.8 (4512.6) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |                      | 0         | 2040.1 (4438.2) | 1819.0 (4257.6) | 1946.8 (4247.0) | 2155.0 (4556.1) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |                      | 0         | -575.7 (2938.4) | -638.0 (2840.1) | -575.3 (2726.3) | -550.8 (3032.7) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |                      | 0         | 61.6 (2.7)      | 57.5 (0.0)      | 60.0 (0.0)      | 63.7 (0.0)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |                      | 0         | 3837.3 (5495.6) | 3815.6 (5366.1) | 3794.3 (5426.2) | 3858.1 (5565.9) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |                      | 0         | 3220.7 (5419.9) | 3102.5 (5316.7) | 3128.0 (5275.7) | 3294.2 (5499.0) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |                      | 0         | -616.6 (4617.2) | -713.1 (4588.8) | -666.3 (4610.0) | -563.9 (4629.9) |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |                      | 0         | 66.6 (2.3)      | 63.2 (0.0)      | 64.8 (0.0)      | 68.4 (0.0)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned              | 0         | 85218 (37.9)    | 23002 (42.8)    | 14466 (38.6)    | 47750 (35.7)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned          |           | 139548 (62.1)   | 30684 (57.2)    | 22966 (61.4)    | 85898 (64.3)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0                    | 0         | 4044 (1.8)      | 829 (1.5)       | 657 (1.8)       | 2558 (1.9)      |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0                   |           | 220722 (98.2)   | 52857 (98.5)    | 36775 (98.2)    | 131090 (98.1)   |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| ICC_band, n (%)                    | (-19301.809, 65.321] | 0         | 22477 (10.0)    | 6326 (11.8)     | 3808 (10.2)     | 12343 (9.2)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (65.321, 175.324]    |           | 22477 (10.0)    | 5956 (11.1)     | 3930 (10.5)     | 12591 (9.4)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (175.324, 291.29]    |           | 22476 (10.0)    | 5858 (10.9)     | 4035 (10.8)     | 12583 (9.4)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (291.29, 440.445]    |           | 22477 (10.0)    | 5826 (10.9)     | 3815 (10.2)     | 12836 (9.6)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (440.445, 642.989]   |           | 22476 (10.0)    | 5540 (10.3)     | 3884 (10.4)     | 13052 (9.8)     |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (642.989, 927.408]   |           | 22477 (10.0)    | 5192 (9.7)      | 3729 (10.0)     | 13556 (10.1)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (927.408, 1353.464]  |           | 22476 (10.0)    | 4969 (9.3)      | 3704 (9.9)      | 13803 (10.3)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (1353.464, 2101.742] |           | 22477 (10.0)    | 4727 (8.8)      | 3600 (9.6)      | 14150 (10.6)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (2101.742, 3810.872] |           | 22476 (10.0)    | 4647 (8.7)      | 3458 (9.2)      | 14371 (10.8)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (3810.872, 88498.13] |           | 22477 (10.0)    | 4645 (8.7)      | 3469 (9.3)      | 14363 (10.7)    |
+------------------------------------+----------------------+-----------+-----------------+-----------------+-----------------+-----------------+

In [26]:
extract_tableone_results(t2_1m)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                               77265
AA Flight Revenue (1st year, average)   $2613.8  $2835.5  $2985.2
AA Flight Revenue (2nd year, average)   $1984.5  $2215.4  $2427.3
AA Rev YoY Change(average)              $-629.4  $-620.1  $-557.9
SOW percentage (2nd year)                57.5 %   60.0 %   63.7 %
TTL Airline Spend (1st year, average)   $3931.6  $4047.4  $4107.7
TTL Airline Spend (2nd year, average)   $3234.1  $3376.1  $3556.9
TTL Rev YoY change (average)            $-697.6  $-671.3  $-550.8
SOW percentage (1st year)                63.2 %   64.8 %   68.4 %
Churned rate (%)                         42.2 %   37.4 %   34.5 %

In [27]:
# Balancing

dt2_1m = dt2_1m.reset_index(drop=True)

dt3_1m = balancing(dt2_1m, 88) 
for col, new_col in [('AA_FLT_REV', 'Percent_AA_to_All'), ('AA_FLT_REV_1stYr', 'Percent_AA_to_All_1stYr')]:
    dt3_1m = dt3_1m.groupby('NPS_CATEGORY').apply(
        lambda x: x.assign(**{ new_col: 100 * x[col].sum() / max(x[col.replace('AA_FLT_REV', 'EST_AIRLN_SPEND')].sum(), 1e-10) })).reset_index(drop=True)

t3_1m = TableOne(dt3_1m, columns= continuous + ['Churned'] + categorical , categorical=['Churned'] + categorical, 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t3_3m.tabulate(tablefmt="grid"))

(14613, 76) Sampled Detractors Ratio: 69.63 %
(8166, 76) Sampled Passives Ratio: 64.51 %
(32080, 76) Sampled Promoters Ratio: 73.55 %
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |             | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=============+===========+=================+=================+=================+=================+
| n                                  |             |           | 168536          | 40152           | 26712           | 101672          |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |             | 0         | 2649.0 (4490.0) | 2706.6 (4536.5) | 2657.4 (4406.0) | 2624.1 (4493.2) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |             | 0         | 2079.2 (4544.5) | 2043.9 (4571.2) | 2060.8 (4436.7) | 2097.9 (4561.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |             | 0         | -569.8 (2971.3) | -662.7 (3032.6) | -596.6 (2850.3) | -526.2 (2977.1) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |             | 0         | 63.7 (1.6)      | 60.9 (0.0)      | 63.4 (0.0)      | 64.8 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |             | 0         | 3870.1 (5573.4) | 4069.5 (5688.7) | 3928.1 (5551.1) | 3776.2 (5530.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |             | 0         | 3267.1 (5525.1) | 3355.3 (5620.4) | 3252.7 (5467.9) | 3236.0 (5501.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |             | 0         | -603.1 (4657.2) | -714.1 (4763.1) | -675.4 (4690.0) | -540.2 (4604.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |             | 0         | 68.5 (1.3)      | 66.5 (0.0)      | 67.7 (0.0)      | 69.5 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned     | 0         | 64717 (38.4)    | 16389 (40.8)    | 10212 (38.2)    | 38116 (37.5)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned |           | 103819 (61.6)   | 23763 (59.2)    | 16500 (61.8)    | 63556 (62.5)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | 0           | 0         | 2701 (1.6)      | 581 (1.4)       | 397 (1.5)       | 1723 (1.7)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | >0          |           | 165835 (98.4)   | 39571 (98.6)    | 26315 (98.5)    | 99949 (98.3)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+

Order variable not found: ICC_band

In [28]:
extract_tableone_results(t3_1m)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                               54859
AA Flight Revenue (1st year, average)   $2971.3  $3043.4  $2857.3
AA Flight Revenue (2nd year, average)   $2314.0  $2374.3  $2304.2
AA Rev YoY Change(average)              $-657.3  $-669.1  $-553.1
SOW percentage (2nd year)                64.5 %   67.4 %   67.5 %
TTL Airline Spend (1st year, average)   $4286.3  $4247.5  $3969.8
TTL Airline Spend (2nd year, average)   $3586.3  $3523.0  $3411.3
TTL Rev YoY change (average)            $-700.0  $-724.4  $-558.6
SOW percentage (1st year)                69.3 %   71.7 %   72.0 %
Churned rate (%)                         39.5 %   37.0 %   36.5 %

# ========= Stage 2 ========

In [29]:
# raw

dt2_s2 = dt2[dt2['Customer_Stage']== 'Stage 2: Flight earning + No Currency earning (AADV)']
dt2_s2['ICC_band'] = pd.qcut(dt2_s2['TOTAL_ICC'], q=10, labels=None) 

t2_s2 = TableOne(dt2_s2, columns= continuous + ['Churned'] + categorical +['ICC_band'], categorical=['Churned'] + categorical+['ICC_band'], 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t2_s2.tabulate(tablefmt="grid"))

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |                       | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=======================+===========+=================+=================+=================+=================+
| n                                  |                       |           | 170198          | 44378           | 30014           | 95806           |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |                       | 0         | 1383.4 (1963.7) | 1379.5 (1913.8) | 1339.2 (1859.4) | 1399.1 (2017.4) |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |                       | 0         | 823.1 (1969.1)  | 778.4 (1930.9)  | 778.4 (1811.1)  | 857.9 (2032.5)  |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |                       | 0         | -560.3 (1690.2) | -601.2 (1702.7) | -560.8 (1614.4) | -541.2 (1707.2) |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |                       | 0         | 61.5 (2.7)      | 57.5 (0.0)      | 60.0 (0.0)      | 63.7 (0.0)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |                       | 0         | 2641.5 (3714.3) | 2818.0 (3933.5) | 2619.1 (3540.6) | 2566.8 (3659.9) |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |                       | 0         | 1959.2 (3389.0) | 2023.1 (3429.3) | 1951.4 (3381.6) | 1932.1 (3372.2) |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |                       | 0         | -682.3 (3851.3) | -794.8 (4028.5) | -667.7 (3828.9) | -634.8 (3772.5) |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |                       | 0         | 66.4 (2.3)      | 63.2 (0.0)      | 64.8 (0.0)      | 68.4 (0.0)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned               | 0         | 87768 (51.6)    | 23821 (53.7)    | 15655 (52.2)    | 48292 (50.4)    |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned           |           | 82430 (48.4)    | 20557 (46.3)    | 14359 (47.8)    | 47514 (49.6)    |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | >0                    | 0         | 170198 (100.0)  | 44378 (100.0)   | 30014 (100.0)   | 95806 (100.0)   |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
| ICC_band, n (%)                    | (-19301.809, 16.359]  | 0         | 17020 (10.0)    | 4900 (11.0)     | 2836 (9.4)      | 9284 (9.7)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (16.359, 98.595]      |           | 17020 (10.0)    | 4386 (9.9)      | 2994 (10.0)     | 9640 (10.1)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (98.595, 163.427]     |           | 17020 (10.0)    | 4227 (9.5)      | 3094 (10.3)     | 9699 (10.1)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (163.427, 232.653]    |           | 17019 (10.0)    | 4380 (9.9)      | 3059 (10.2)     | 9580 (10.0)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (232.653, 316.061]    |           | 17020 (10.0)    | 4349 (9.8)      | 3168 (10.6)     | 9503 (9.9)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (316.061, 425.464]    |           | 17020 (10.0)    | 4359 (9.8)      | 3064 (10.2)     | 9597 (10.0)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (425.464, 582.562]    |           | 17019 (10.0)    | 4507 (10.2)     | 3034 (10.1)     | 9478 (9.9)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (582.562, 838.736]    |           | 17020 (10.0)    | 4365 (9.8)      | 2992 (10.0)     | 9663 (10.1)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (838.736, 1396.942]   |           | 17020 (10.0)    | 4528 (10.2)     | 3002 (10.0)     | 9490 (9.9)      |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | (1396.942, 58793.446] |           | 17020 (10.0)    | 4377 (9.9)      | 2771 (9.2)      | 9872 (10.3)     |
+------------------------------------+-----------------------+-----------+-----------------+-----------------+-----------------+-----------------+

In [30]:
extract_tableone_results(t2_s2)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              170198
AA Flight Revenue (1st year, average)   $1379.5  $1339.2  $1399.1
AA Flight Revenue (2nd year, average)    $778.4   $778.4   $857.9
AA Rev YoY Change(average)              $-601.2  $-560.8  $-541.2
SOW percentage (2nd year)                57.5 %   60.0 %   63.7 %
TTL Airline Spend (1st year, average)   $2818.0  $2619.1  $2566.8
TTL Airline Spend (2nd year, average)   $2023.1  $1951.4  $1932.1
TTL Rev YoY change (average)            $-794.8  $-667.7  $-634.8
SOW percentage (1st year)                63.2 %   64.8 %   68.4 %
Churned rate (%)                         53.7 %   52.2 %   50.4 %

In [31]:
# balance
dt2_s2 = dt2_s2.reset_index(drop=True)

dt3_s2 = balancing(dt2_s2, 88) 
for col, new_col in [('AA_FLT_REV', 'Percent_AA_to_All'), ('AA_FLT_REV_1stYr', 'Percent_AA_to_All_1stYr')]:
    dt3_s2 = dt3_s2.groupby('NPS_CATEGORY').apply(
        lambda x: x.assign(**{ new_col: 100 * x[col].sum() / max(x[col.replace('AA_FLT_REV', 'EST_AIRLN_SPEND')].sum(), 1e-10) })).reset_index(drop=True)

t3_s2 = TableOne(dt3_s2, columns= continuous + ['Churned'] + categorical , categorical=['Churned'] + categorical, 
                groupby='NPS_CATEGORY', pval=False, missing=True, overall=True) #; print(t1.tabulate(tablefmt="grid"))
print(t3_s2.tabulate(tablefmt="grid"))

(34242, 76) Sampled Detractors Ratio: 77.16 %
(22345, 76) Sampled Passives Ratio: 74.45 %
(74388, 76) Sampled Promoters Ratio: 77.64 %
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    |             | Missing   | Overall         | Detractor       | Passive         | Promoter        |
+====================================+=============+===========+=================+=================+=================+=================+
| n                                  |             |           | 130975          | 34242           | 22345           | 74388           |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_1stYr, mean (SD)        |             | 0         | 1372.6 (1938.1) | 1377.3 (1949.0) | 1337.4 (1869.1) | 1381.0 (1953.4) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV, mean (SD)              |             | 0         | 820.7 (1976.2)  | 772.9 (1959.2)  | 780.5 (1848.7)  | 854.8 (2019.9)  |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Diff_1to2_YoY, mean (SD)           |             | 0         | -551.9 (1672.3) | -604.4 (1688.0) | -557.0 (1588.4) | -526.2 (1689.0) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All, mean (SD)       |             | 0         | 41.9 (2.7)      | 38.2 (0.0)      | 40.1 (0.0)      | 44.2 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND_1stYr, mean (SD)   |             | 0         | 2634.0 (3733.0) | 2821.5 (4034.9) | 2603.8 (3498.7) | 2556.8 (3652.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| EST_AIRLN_SPEND, mean (SD)         |             | 0         | 1959.6 (3395.5) | 2023.7 (3422.3) | 1945.1 (3385.6) | 1934.5 (3385.8) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| TTL_Diff_1to2_YoY, mean (SD)       |             | 0         | -674.4 (3884.2) | -797.9 (4085.7) | -658.6 (3798.4) | -622.3 (3812.7) |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Percent_AA_to_All_1stYr, mean (SD) |             | 0         | 52.2 (2.2)      | 48.8 (0.0)      | 51.4 (0.0)      | 54.0 (0.0)      |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| Churned, n (%)                     | Churned     | 0         | 68087 (52.0)    | 18523 (54.1)    | 11782 (52.7)    | 37782 (50.8)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
|                                    | Not Churned |           | 62888 (48.0)    | 15719 (45.9)    | 10563 (47.3)    | 36606 (49.2)    |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+
| AA_FLT_REV_Y1_Category, n (%)      | >0          | 0         | 130975 (100.0)  | 34242 (100.0)   | 22345 (100.0)   | 74388 (100.0)   |
+------------------------------------+-------------+-----------+-----------------+-----------------+-----------------+-----------------+

Order variable not found: ICC_band

In [32]:
extract_tableone_results(t3_s2)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      Detractor  Passive Promoter
Sample Size                              130975
AA Flight Revenue (1st year, average)   $1377.3  $1337.4  $1381.0
AA Flight Revenue (2nd year, average)    $772.9   $780.5   $854.8
AA Rev YoY Change(average)              $-604.4  $-557.0  $-526.2
SOW percentage (2nd year)                38.2 %   40.1 %   44.2 %
TTL Airline Spend (1st year, average)   $2821.5  $2603.8  $2556.8
TTL Airline Spend (2nd year, average)   $2023.7  $1945.1  $1934.5
TTL Rev YoY change (average)            $-797.9  $-658.6  $-622.3
SOW percentage (1st year)                48.8 %   51.4 %   54.0 %
Churned rate (%)                         54.1 %   52.7 %   50.8 %